<nav>
  <a href="{{ '/' | relative_url }}">Inici</a>
  <a href="{{ '/resources' | relative_url }}">Recursos</a>
  <a href="{{ '/about' | relative_url }}">Qui som</a>
  <div class="dropdown">
    <a href="#">Arduino</a>
    <div class="dropdown-content">
        <a href="{{ '/pages/arduino-basic' | relative_url }}">Bàsic</a>
      <a href="{{ '/pages/arduino-sensores' | relative_url }}">Sensors</a>
      <a href="{{ '/pages/arduino-display' | relative_url }}">Display</a>
      <a href="{{ '/pages/arduino-actuadores' | relative_url }}">Actuadors</a>
    </div>
  </div>
</nav>
