<nav>
  <a href="{{ '/' | relative_url }}">Inici</a>
  <a href="{{ '/resources' | relative_url }}">Recursos</a>
  <a href="{{ '/about' | relative_url }}">Qui som</a>
  <div class="dropdown">
    <a href="{{ '/categorias/arduino' | relative_url }}">Arduino</a>
    <div class="dropdown-content">
      <a href="{{ '/categorias/basic' | relative_url }}">Bàsic</a>
      <a href="{{ '/categorias/sensors' | relative_url }}">Sensors</a>
      <a href="{{ '/categorias/display' | relative_url }}">Display</a>
      <a href="{{ '/categorias/actuadors' | relative_url }}">Actuadors</a>
    </div>
  </div>
</nav>
